<!-- <div class="container mx-auto p-6">
  <h2 class="text-3xl font-bold mb-4 text-primary text-center">🎟️ Tickets</h2>

  <div *ngIf="tickets().length === 0" class="alert alert-warning text-center">
    No tickets available.
  </div>

  <div *ngIf="tickets().length > 0" class="space-y-2">
    <div *ngFor="let ticket of tickets()" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
      <input type="checkbox" />

     <!-- Overview mit ticket description -->
       <!--<div class="collapse-title font-semibold text-lg text-gray-800 flex justify-between items-center gap-x-4">
        <span>{{ ticket.description }}</span>
        <span class="badge badge-info">{{ ticket.status }}</span>
      </div>

      <!-- detailed info für tickets -->
       <!--<div class="collapse-content text-gray-700 text-sm mt-2">
        <p><strong>Description:</strong> {{ ticket.description }}</p>
        <p><strong>Status:</strong> {{ ticket.status }}</p>
        <p><strong>ID:</strong> {{ ticket.id }}</p>
        <p><strong>Project:</strong> {{ ticket.project || '-' }}</p>
        <p><strong>Responsible Person:</strong> {{ ticket.responsiblePerson || '-' }}</p>
      </div>
    </div>
  </div>
</div> -->
