<div class="grid grid-cols-4 gap-2 bg-base-200 text-base-content p-2 rounded-lg">
  <div class="flex items-center gap-1 font-bold">
    ID <span class="text-xs cursor-pointer">▲</span>
  </div>
  <div class="flex items-center gap-1 font-bold">
    Titel <span class="text-xs cursor-pointer">▲</span>
  </div>
  <div class="flex items-center gap-1 font-bold">
    Status <span class="text-xs cursor-pointer">▲</span>
  </div>
  <div class="flex items-center gap-1 font-bold">
    Erstellt am <span class="text-xs cursor-pointer">▲</span>
  </div>

  @for (t of tickets; track t.id) {
    <div class="font-mono text-sm">{{ t.id }}</div>

    <a
      [routerLink]="['/tickets', t.id]"
      class="font-semibold text-base-content hover:text-primary hover:underline hover:cursor-pointer transition"
    >
      {{ t.title }}
    </a>

    <div class="dropdown">
      <label class="badge" [ngClass]="badge[t.status]">
        {{ t.status | ticketStatusLabel }}
      </label>
      <ul
        tabindex="0"
        class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
      >
        @for (s of allStatuses; track s) {
          <li><a>{{ s | ticketStatusLabel }}</a></li>
        }
      </ul>
    </div>

    <div>{{ t.createdDate  | date: 'short' }}</div>
  }
</div>
